@font-face {
    font-family: MontserratAlternates-regular; /* Гарнитура шрифта */
    src: url(/Fonts/MontserratAlternates-Regular.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: MontserratAlternates-bold; /* Гарнитура шрифта */
    src: url(/Fonts/MontserratAlternates-Bold.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: MontserratAlternates-light; /* Гарнитура шрифта */
    src: url(/Fonts/MontserratAlternates-Light.ttf); /* Путь к файлу со шрифтом */
   }



*{
    margin: 0;
    text-decoration: none;
    color:rgb(95, 164, 69);
    
}

html,body{
    height: 100%;
    background-color:rgb(252, 249, 244);
    overflow-x: hidden;
}

li{
    list-style: none;
}

.white-bg{
    background-color: white;
}

.green-bg{
    background-color: rgb(95, 164, 69);
}

.cream-bg{
    background-color: rgb(252, 249, 244);
}

.green-text{
    color: rgb(95, 164, 69);
}

.cream-text{
    color: rgb(252, 249, 244);
}
.blue-bg{
    background-color: rgb(16, 65, 82);
}
.blue-text{
    color: rgb(16, 65, 82);
}





.logo{
    padding: 10px;
}


img{
    max-width: 100%;
    min-width: 50%
}

.monk{
    z-index: 10;
    position: relative;
}

.main-header{
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 120px;
    align-items: center;    
    z-index: 3;

}
.wrapper{
    width: 85%;

    display: flex;
    justify-content: space-evenly;

    align-items: center;
    
    margin: 25px;
    height: 100%;

    margin: 0px auto;



}
.header-menu{
    list-style: none;
    display: flex;
    max-width: 700px;
    min-width: 700px;
    justify-content: space-between;
    
}
.menu-item{
    display: flex;
    font-size: 24px;
    font-family: "MontserratAlternates-regular";
}

.logo{
    max-width: 100px;
    min-width: 80px;
}

.menu-item a:hover{
    color: rgb(156, 204, 138)
}
.menu-item a:active{
    color: rgb(83, 152, 58)
}




.block{
    min-height: 100vh;
    padding-top: 80px;
    position: relative;
    

    overflow: hidden;

}


aside
{
    margin: 20px;
    height: 100%;
}

.lines{
    position:absolute;
    left: 55%;
    z-index: 0;
    min-height: 110%;
    top:0;
}









.head-text h1{
    font-family: "MontserratAlternates-bold";
    font-size: 50px;
    padding-bottom: 20px;
    text-align: left;
}

.head-text p {
    font-size: 24px;
    font-family: "MontserratAlternates-light";
}


.button-1{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 24px;
    width: 200px;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    transition: 500ms;
    
}   
.button-1:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.button-1:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}

.button-3{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 24px;
    width: 200px;


    background-color: rgb(95, 164, 69);
    color: rgb(252, 249, 244);
    border: 2px solid white;

    transition: 200ms;
    
}   
.button-3:hover{
    background-color: rgb(252, 249, 244);
    color: rgb(95, 164, 69);
}

.button-3:active{
    background-color:rgb(225, 248, 219);
    transition: 200ms;
}


.course{
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    
    position: relative;
    
    width: 420px;
    height: 950px;
    border-radius: 43px 43px 0px 0px;
    
    box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
    -webkit-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
}

.course-head{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 425px;
    background-color: green;

    border-radius: 43px 43px 0px 0px;
}

.courses{
    min-height: 100vh;
}

.text{
    text-align: left;
    display: block;
    padding: 0px 50px 50px 50px;

    font-size:x-large;

    padding-top: 10px;
}
.course-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    
    font-size:18px;

    font-family: "MontserratAlternates-regular";
    
    width: 100%;
    margin: 0px;
    padding: 0px;

    justify-content: space-between;

    list-style: circle;
}
.course-text li{
    display: block;
    border: 1px solid rgb(95, 164, 69);
    padding: 16px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.button-2{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 24px;
    width: 200px;
    background-color: rgb(252, 249, 244);
    border: 2px solid rgb(95, 164, 69);
    color: rgb(95, 164, 69);


    transition: 500ms;

    position: absolute;

    bottom:40px;
    
}  
.button-2:hover{
    background-color: rgb(95, 164, 69);
    color: rgb(252, 249, 244);
}

.button-2:active{
    background-color:rgb(113, 167, 93);
    transition: 200ms;
}




.height{
    min-height: 800px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

    background-color: rgb(255, 255, 255);
}

.text-block{
    width: 40%;
    text-align: center;
    
}
.feedback{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 45px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0px auto;

    -webkit-box-shadow: 4px 9px 9px -6px #c0e7b0; 
    box-shadow: 4px 9px 9px -6px #c0e7b0;

    float: left;
    margin: 25px;
    
}

.feedback-block{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.feedback-image{
    position: relative;
    width: 120px;
    height: 120px;
}

.top{
    display: flex;
    align-items:center;
    justify-content:left;
    padding-left: 20px;
}
.top-text{
    padding-left: 30px;
}


.bottom{
    width: 80%;
    text-align: center;
    margin: 0px auto;

}

.bottom span{
    display: block;
    padding-top: 50px;
}


h1{
    text-align: center;
    font-family: "MontserratAlternates-bold";
    font-size: 50px;
    padding-bottom: 20px;
    padding: 0px;

}

p{
    font-size: 24px;
    font-family: "MontserratAlternates-light";
}

.course h1{
    font-size: 32px;
}



.text-block h1{
    padding-bottom: 50px;
}


h2{
    font-family: "MontserratAlternates-bold";
}
h3{
    font-family: "MontserratAlternates-regular";
}
span{
    font-family: "MontserratAlternates-regular";
}


.left{
    float: left;
;
}

.courses-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 0px auto;
    padding-top: 50px;
    flex-wrap: wrap;

}


.icon{
    max-width: 120px;
    min-width: 100px;
    padding-right: 25px;
}

.icon-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.goals{
    min-width: 100vh;
    
}


.faq{
    width: 80%;
    margin-top: 100px;
    padding-bottom: 15px;
}

.menu-list{
    
}


.answer{

}

.hide{
    display: none;
    visibility: hidden;

}


.question{
    cursor: pointer;
    user-select: none;
}


.faq-item{
    border: 1px solid rgb(113, 167, 93);
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 20px;
}

.faq-item:last-child{
    border-bottom: 1px solid rgb(113, 167, 93); 
}

