@font-face {
    font-family: MontserratAlternates-regular;
    src: url(/Fonts/MontserratAlternates-Regular.ttf) format('woff2'),
        url('typefesse.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates-bold;
    src: url(/Fonts/MontserratAlternates-Bold.ttf) format('woff2'),
        url('typefesse.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates-light;
    src: url(/Fonts/MontserratAlternates-Light.ttf) format('woff2'),
        url('typefesse.woff') format('woff');
    font-display: swap;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(95, 164, 69);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 197, 140);
}


*{
    margin: 0;
    text-decoration: none;
    color:rgb(95, 164, 69);
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    background-color:rgb(252, 249, 244);
    overflow-x: hidden;
}

li{
    list-style: none;
}

.white-bg{
    background-color: white;
}

.green-bg{
    background-color: rgb(95, 164, 69);
}

.cream-bg{
    background-color: rgb(252, 249, 244);
}

.green-text{
    color: rgb(95, 164, 69);
}

.cream-text{
    color: rgb(252, 249, 244);
}
.blue-bg{
    background-color: rgb(16, 65, 82);
}
.blue-text{
    color: rgb(16, 65, 82);
}


hr{
    border: none;
    width: 80%;
    background-color: rgba(94, 164, 69, 0.477);
    height: 1px;

    margin: 40px;

}

.head-text .wrapper:first-child ul, .buttons-section{
    position: relative;
    z-index: 10;
}

.logo{
    padding: 10px;
}


.monk{
    z-index: 0;
    position: relative;
    width: 750px;
    padding-left: 50px;
}

.monk_block{
    display: flex;
    justify-content: center;
    min-width: 30%;

}

.main-header{
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 80px;
    align-items: center;    
    z-index: 3;
    box-shadow: 0px 1px 15px 0px rgba(96, 164, 69, 0.105);

}
.wrapper{
    width: 75%;

    display: flex;
    justify-content: space-evenly;

    align-items: center;
    
    margin: 25px;
    height: 100%;

    margin: 0px auto;



}
.header-menu{
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 900px;
    min-width: 750px;
    justify-content: space-between;
    
}
.menu-item{
    display: flex;
    font-size: 18px;
    font-family: "MontserratAlternates-regular";
    padding: 20px;
    
}

.logo{
    max-width: 100px;
    min-width: 60px;
    z-index: 2;
}

.menu-item a:hover{
    color: rgb(156, 204, 138)
}
.menu-item a:active{
    color: rgb(83, 152, 58)
}

.button{
    color: white;
    text-align: center;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    border-radius: 24px;
    transition: 500ms;
    padding: 10px;
}
 
.button:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.button:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}


.block{
    min-height: 100vh;
    padding-top: 80px;
    position: relative;
    overflow: hidden;

}


aside
{
    margin: 20px;
    height: 100%;
    width: 90%;
}



.lines{
    position:absolute;
    left: 55%;
    z-index: 0;
    min-height: 110%;
    top:0;
}






.head-text .wrapper{
    width: 70%;
}


.head-text h1{
    font-family: "MontserratAlternates-bold";
    font-size: 40px;
    padding-bottom: 30px;
    text-align: left;
}

.head-text p {
    font-size: 20px;
    font-family: "MontserratAlternates-light";
}
.head-text ul{
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
}
.head-text li{
        font-size: 20px;
        font-family: "MontserratAlternates-regular";
        margin: 0px;
        padding-top: 25px;
}
.buttons-section {
    display: flex;
}
.buttons-section a{
    margin-right: 25px;
}

.button-1{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 50px;
    width: 200px;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    transition: 500ms;
    
}   
.button-1:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.button-1:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}

.button-1-w{
    display: block;
    color: rgb(95, 164, 69);;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 50px;
    width: 200px;
    background-color: rgb(252, 249, 244);
    border: 2px solid rgb(95, 164, 69);
    transition: 500ms;
    
}   
.button-1-w:hover{
    background-color: rgb(95, 164, 69);
    color: white;
    transition: 200ms;
    
}

.button-1-w:active{
    background-color:rgb(95, 164, 69);
    color:rgb(235, 249, 227) ;
    transition: 200ms;
}




.button-3{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 50px;
    width: 200px;


    background-color: rgb(95, 164, 69);
    color: rgb(252, 249, 244);
    border: 2px solid white;

    transition: 500ms;  
    
}   
.button-3:hover{
    background-color: rgb(252, 249, 244);
    color: rgb(95, 164, 69);
}

.button-3:active{
    background-color:rgb(225, 248, 219);
    transition: 200ms;
}

.button-3-w{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 50px;
    width: 200px;

    background-color: rgb(255, 255, 255);
    color: rgb(95, 164, 69);

    border: 2px solid rgb(95, 164, 69);
    transition: 500ms;

}  
.button-3-w:hover{
    background-color: rgb(95, 164, 69);
    color: white;
    border: 2px solid white;
    
}

.button-3-w:active{
    background-color:rgb(157, 204, 140);
    transition: 200ms;
}






.course{
    display: flex;
    flex-direction: column;

    align-items: center;
    
    position: relative;
    justify-content: space-around;

    
    width: 350px;
    min-height: 525px;
    border: 2px solid rgba(0, 128, 0, 0.154);
    border-radius: 43px 43px 43px 43px;
    margin-left: 50px;
    margin-right: 50px;
    /* box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
    -webkit-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46); */
}

.course_description{
    text-align: center;
    font-size:larger;
    padding-left: 20px;
    padding-right: 20px;
}



.course-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 43px 43px 0px 0px;
}
.course-header h1{
    margin-bottom: 10px;
}
.praices{
    text-align: center;

}
.strike{
    text-decoration: line-through;
}
.praices h2{
    font-family: "MontserratAlternates-light";
}

.courses{
    min-height: 100vh;
}

.text{
    text-align: left;
    display: block;
    padding: 0px 50px 50px 50px;

    font-size:x-large;

    padding-top: 10px;
}
.course-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    
    font-size:18px;

    font-family: "MontserratAlternates-bold";
    
    width: 90%;
    margin: 0px;
    padding: 0px;

    justify-content: space-between;
    
}


.button-2{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 20px;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 50px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(95, 164, 69);
    color: rgb(95, 164, 69);


    transition: 500ms;


    bottom:40px;
    
}  
.button-2:hover{
    background-color: rgb(95, 164, 69);
    color: rgb(252, 249, 244);
}

.button-2:active{
    background-color:rgb(113, 167, 93);
    transition: 200ms;
}

.button-2-w{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 20px;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 50px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color: rgb(95, 164, 69);

    border: 2px solid rgb(95, 164, 69);
    transition: 500ms;
    
}  
.button-2-w:hover{
    background-color: rgb(95, 164, 69);
    color: white;
    border: 2px solid white;
    
}

.button-2-w:active{
    background-color:rgb(157, 204, 140);
    transition: 200ms;
}

.brd-clr-white{
    border: 2px solid rgb(106, 149, 90);
}


.height{
    min-height: 800px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

    background-color: rgb(255, 255, 255);
}

.text-block{
    width: 40%;
    text-align: center;
    
}
.feedback{
    width: 80%;

    border-radius: 45px;
    padding-top: 20px;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0px auto;

    -webkit-box-shadow: 4px 9px 9px -6px #c0e7b0; 
    box-shadow: 4px 9px 9px -6px #c0e7b0;

    float: left;
    margin: 25px;
    
}


.feedback-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 10;
}


.feedback-image{
    position: relative;
    height: 100%;
}
.feedback-image img{
    height: 90%;
}

.top{
    display: flex;
    align-items:center;
    justify-content:left;
    padding-left: 20px;
    height: 125px;
}
.top-text{
    padding-left: 30px;
    
}
.top-text h3{
    text-align: left;
    padding: 2px;
}
.top-text h2{
    text-align: left;
    padding: 2px;
}


.bottom{
    width: 80%;
    text-align: center;
    margin: 0px auto;

}

.bottom span{
    display: block;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 16px;
}


h1{
    text-align: center;
    font-family: "MontserratAlternates-bold";
    font-size: 40px;
    padding-bottom: 20px;
    padding: 0px;

}

.goals p{
    font-size: 18px;
    font-family: "MontserratAlternates-light";
}

p{
    font-size: 24px;
    font-family: "MontserratAlternates-light";
}

.course h1{
    font-size: 28px;
}



.text-block h1{
    padding-bottom: 40px;
}


h2{
    font-family: "MontserratAlternates-bold";
    padding-bottom: 20px;
}

h3{
    font-family: "MontserratAlternates-regular";
    text-align: center;
    padding-bottom: 20px;
}
span{
    font-family: "MontserratAlternates-regular";
}


.left{
    float: left;
;
}

.courses-wrapper{
    display: flex;
    justify-content: center;

    margin: 0px auto;
    flex-wrap: wrap;

    
}
.mrgn-top{
    margin-top: 50px;
}

.icon{
    max-width: 120px;
    min-width: 100px;
    padding-right: 25px;
    align-items: center;
}
.icon img{
    width: 100px;
}


.phone img{

}

.icon-block{
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.goals aside{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;   
    
}


.faq{
    width: 80%;
    margin-top: 100px;
    padding-bottom: 15px;
}


.hide{
    display: none;
    visibility: hidden;

}


.question{
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    padding-bottom: 10px;
}


.faq-item{
    border: 1px solid rgb(113, 167, 93);
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 20px;
}
.faq-item h2{
    text-align: left;
}

.faq-item:last-child{
    border-bottom: 1px solid rgb(113, 167, 93); 
}

footer{
    background-color: rgb(113, 167, 93);
    
    width: 100%;

    margin-top: 100px;
}

.footer-items{
    width: 100%;
}

.social{
    display: flex;
}
.social-image{
    margin: 25px 25px 10px 25px;
}

.gmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.gmail a{
    margin: 10px;
}

.bot-1{
    padding-top: 80px;

    position: relative;
    overflow: hidden;
}
.bot-2{
    padding-top: 80px;

    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
}
.bot-2 .phone {
    text-align: right;
}

.feedback_block_main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
    display: block;
}

/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 400px;
      margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "MontserratAlternates-Bold";
    text-align: left;
}


.header-modal-text p{
    font-size: 1rem;
}   


/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    padding-bottom: 50px;
    overflow: auto;
}

#form::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.466) url('/Loading_icon.gif') center / 75px no-repeat;
    opacity: 0;
    visibility: hidden;
}

#form._sending::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.466) url('/Loading_icon.gif') center / 75px no-repeat;
    opacity: 1;
    visibility: visible;
}

#form._sent::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(247, 247, 247) url('/success-gif.gif') center / 200px no-repeat;
    opacity: 1;
    visibility: visible;
}

#form._error::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255) url('/error.gif') center / 200px no-repeat;
    opacity: 1;
    visibility: visible;
}



form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
    align-items: center;
}
.form-item{
    margin-top: 30px;
    width: 325px;
    display: flex;
    flex-direction: column;
    
}

.form-input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    margin-top: 10px;
    padding-left: 10px;
}

.form-item label{
    font-family: "MontserratAlternates-Bold";
}

input:focus { 
    outline: none !important;
    border-color: rgb(113, 167, 93);
    box-shadow: 0 0 10px rgb(113, 167, 93);
}
textarea:focus { 
    outline: none !important;
    border-color: rgb(113, 167, 93);
    box-shadow: 0 0 10px rgb(113, 167, 93);
}

textarea{
    padding-left: 5px;
}

::placeholder{
    padding-left: 5px;
    color: rgba(113, 167, 93, 0.518);
}

.submit-button{
    color: white;
    text-align: center;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    border-radius: 24px;
    transition: 500ms;
    padding: 12px;
    cursor: pointer;
}

.submit-button:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.submit-button:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}


.icon-c-g{
    background: url("/Icons/check-mark.png") no-repeat;
    width: 16px;
    padding: 10px;
}

.icon-c-w{
    background: url("/Icons/check-mark-w.png") no-repeat;
    width: 16px;
    padding: 10px;
}


.feedback-block .courses-wrapper{
    overflow: scroll;
    height: 100vh;
}
.feedback-block {
    height: auto;
}

.small{
    display: none;
}
.huge{
    display: block;
}

.phone{
    position: relative;

}


.phone img {
    z-index: 1;
    max-width: 75%;
    min-width: 300px;

}










.header-burger{
    display: none;
}


/* Media */

@media (max-width: 952px){
    .header-burger{
        display: block;
        position: relative;
        height: 20px;
    }

    .header-burger:before,
    .header-burger:after{
            z-index: 10;
            content: '';
            display: block;
            background-color: rgb(255, 255, 255);
            position: absolute;
            width: 30px;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
    }
    .header-burger:before{
        top: 0;

    }
    .header-burger:after{
        bottom: 0;
    }
    .header-burger span{
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        width: 30px;
        z-index: 2;
    }

    .main-header{
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        /* background-color: rgb(94, 164, 69); */
        box-shadow: 1px 1px 1px 1px black;
    }

    .header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;

    }
    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active span{
        transform: scale(0);
    }

    .logo{
        filter: brightness(20);
        position: fixed;
        left: 20px;
        top: -2px;
        min-width: 40px;
    }
    .header-burger{
        position: fixed;
        z-index: 4;
        right: 70px;
        top: 20px;
    }
    .head-text .wrapper{
        flex-direction:column-reverse;
        margin-bottom: 25px;
        
    }
    .head-text img{
        width: 100%;
        min-width: 30%;
    }
    
    .head-text .wrapper{
        width: 90%;
    }

    .header-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(94, 164, 69);
        width: 100%;
        height: 100%;
        top:0;
        user-select: none;
        overflow: auto;
        display: none;
    }
    .menu-item a{
        color: white;
    }
    .menu-item{
        text-align: center;
        padding-left: 0px;
    }


    .header-menu.active{
        flex-direction: column;
        display: flex;
    }
    .strip:before{
        content: '';
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgb(94, 164, 69);
        z-index: 0;
        position: fixed;
        left: 0;
        top: 0;
    }
    main{
        margin-top: 75px;
    }
    body.lock{
        overflow: hidden;
    }
    

    .wrapper{
        width: 100%;
    }


    .goal_block{
        margin-top: 40px;
    }

    .goals aside{
        display: block;
    }

    .icon-block{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icon-block .icon{
        padding-left: 26px;
        padding-bottom: 20px;
    }


    .bot-1 .wrapper{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 25px;
        text-align: center;
    }
    .bot-2 .wrapper{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 25px;
        text-align: center;
    }
    .bot-2{
        padding-bottom: 10px;
    }

    .bot-text-1 p{
        display: none;
    }


    .feedback-block {
        margin-top: 10px;
        padding-top: 0px;
    }
    .feedback_block_main h1{
        padding-top: 40px;
    }

    #fq .wrapper{
        width: 100%;
    }
    .faq-item .question,.answer{
        text-align: left;

    }
    .faq-item .question{
        font-size: 20px;
    }
    .faq{
        width: 90%;
    }
    .menu-list{
        width: 100%;
        padding: 0px;
    }
    .faq{
        margin-top: 40px;
    }
    .feedback-image{
        height: 80%;
    }
    h1{
        font-size: 24px;
    }
    .head-text h1{
        font-size: 24px;
        padding-bottom: 25px;
    }
    .bot-text-1 h1{
        text-align: center;
    }
    .head-text li{
        font-size: 18px;
    }

    .answers h1{
        margin-top: 40px;
    }
    .courses-wrapper{
        width: 100%;
        max-width: 100%;
    }
    .courses{
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .course {
        padding: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .block{
        padding-top: 10px;
        min-height: 0px;
    }
    .course-header p{
        text-align: center;
    }

    .course-header h1{
        
    }
    .bottom{
        font-size: 14px;
    }
    .bottom span{
        font-size: 14px;
    }
    .course-text{
        height: auto;
        overflow: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .button-2-w{
        width: 140px;
        position: relative;
        margin-top: 60px;
    }
    .button-2{
        width: 140px;
        position: relative;
        margin-top: 60px;
    }
    .lines{
        display: none;
    }
    .text-block{
        width: 100%;
    }

    .social-image{
        margin: 30px 30px 0px 30px;

    }
    .social{
        justify-content: center;
        align-items: center;
    }

    p{
        font-size: 18px;
        font-family: "MontserratAlternates-light";
    }
    .bot-text-1 p{
        font-size: 18px;
    }
    
    .buttons-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-1{
        padding: 10px;
        font-size: 16px;
        margin-top: 40px;
        border-radius: 50px;
        width: 90%;
        
    }

    .buttons-section a {
        margin-right: 0px;
    }

    .button-1-w{
        padding: 10px;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 50px;
        width: 90%;
    }
    .button-3-w, .button-3{
        padding: 10px;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 50px;
        width: 90%;
    }



    .monk_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


    }   
    .monk{
        padding-left: 0px;
    }
    .small{
        display: block;
    }
    .small img{
        padding-right: 5%;
    }
    .huge{
        display: none;
    }
}   