@font-face {
    font-family: MontserratAlternates-regular;
    src: url(/Fonts/MontserratAlternates-Regular.ttf) format('woff2'),
        url('typefesse.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates-bold;
    src: url(/Fonts/MontserratAlternates-Bold.ttf) format('woff2'),
        url('typefesse.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: MontserratAlternates-light;
    src: url(/Fonts/MontserratAlternates-Light.ttf) format('woff2'),
        url('typefesse.woff') format('woff');
    font-display: swap;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(95, 164, 69);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 197, 140);
}


*{
    margin: 0;
    text-decoration: none;
    color:rgb(95, 164, 69);
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    background-color:rgb(252, 249, 244);
    overflow-x: hidden;
}

li{
    list-style: none;
}

.white-bg{
    background-color: white;
}

.green-bg{
    background-color: rgb(95, 164, 69);
}

.cream-bg{
    background-color: rgb(252, 249, 244);
}

.green-text{
    color: rgb(95, 164, 69);
}

.cream-text{
    color: rgb(252, 249, 244);
}
.blue-bg{
    background-color: rgb(16, 65, 82);
}
.blue-text{
    color: rgb(16, 65, 82);
}





.logo{
    padding: 10px;
}


img{
    max-width: 100%;
    min-width: 50%
}

.monk{
    z-index: 10;
    position: relative;
}

.main-header{
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 120px;
    align-items: center;    
    z-index: 3;

}
.wrapper{
    width: 85%;

    display: flex;
    justify-content: space-evenly;

    align-items: center;
    
    margin: 25px;
    height: 100%;

    margin: 0px auto;



}
.header-menu{
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 900px;
    min-width: 750px;
    justify-content: space-between;
    
}
.menu-item{
    display: flex;
    font-size: 20px;
    font-family: "MontserratAlternates-regular";
    padding: 20px;
    
}

.logo{
    max-width: 100px;
    min-width: 80px;
}

.menu-item a:hover{
    color: rgb(156, 204, 138)
}
.menu-item a:active{
    color: rgb(83, 152, 58)
}

.button{
    color: white;
    text-align: center;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    border-radius: 24px;
    transition: 500ms;
    padding: 20px;
}
 
.button:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.button:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}


.block{
    min-height: 100vh;
    padding-top: 80px;
    position: relative;
    

    overflow: hidden;

}


aside
{
    margin: 20px;
    height: 100%;
}

.lines{
    position:absolute;
    left: 55%;
    z-index: 0;
    min-height: 110%;
    top:0;
}









.head-text h1{
    font-family: "MontserratAlternates-bold";
    font-size: 50px;
    padding-bottom: 20px;
    text-align: left;
}

.head-text p {
    font-size: 24px;
    font-family: "MontserratAlternates-light";
}


.button-1{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 24px;
    width: 200px;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    transition: 500ms;
    
}   
.button-1:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.button-1:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}

.button-3{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 24px;
    width: 200px;


    background-color: rgb(95, 164, 69);
    color: rgb(252, 249, 244);
    border: 2px solid white;

    transition: 200ms;
    
}   
.button-3:hover{
    background-color: rgb(252, 249, 244);
    color: rgb(95, 164, 69);
}

.button-3:active{
    background-color:rgb(225, 248, 219);
    transition: 200ms;
}


.course{
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    
    position: relative;
    
    width: 420px;
    height: 950px;
    border-radius: 43px 43px 43px 43px;
    
    box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
    -webkit-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.46);
}

.course-head{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 425px;
    background-color: green;

    border-radius: 43px 43px 0px 0px;
}

.courses{
    min-height: 100vh;
}

.text{
    text-align: left;
    display: block;
    padding: 0px 50px 50px 50px;

    font-size:x-large;

    padding-top: 10px;
}
.course-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    
    font-size:18px;

    font-family: "MontserratAlternates-bold";
    
    width: 100%;
    margin: 0px;
    padding: 0px;

    justify-content: space-between;

    list-style-type: style;;
    list-style:circle;
}
.course-text li{
    display: block;
    border: 1px solid rgb(95, 164, 69);
    padding: 16px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.button-2{
    display: block;
    color: white;
    text-align: center;
    font-family: "MontserratAlternates-bold";
    padding: 25px;
    font-size: 24px;
    margin-top: 40px;
    border-radius: 24px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(95, 164, 69);
    color: rgb(95, 164, 69);


    transition: 500ms;

    position: absolute;

    bottom:40px;
    
}  
.button-2:hover{
    background-color: rgb(95, 164, 69);
    color: rgb(252, 249, 244);
}

.button-2:active{
    background-color:rgb(113, 167, 93);
    transition: 200ms;
}




.height{
    min-height: 800px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

    background-color: rgb(255, 255, 255);
}

.text-block{
    width: 40%;
    text-align: center;
    
}
.feedback{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 45px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0px auto;

    -webkit-box-shadow: 4px 9px 9px -6px #c0e7b0; 
    box-shadow: 4px 9px 9px -6px #c0e7b0;

    float: left;
    margin: 25px;
    
}

.feedback-block{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.feedback-image{
    position: relative;
    width: 120px;
    height: 120px;
}

.top{
    display: flex;
    align-items:center;
    justify-content:left;
    padding-left: 20px;
}
.top-text{
    padding-left: 30px;
}


.bottom{
    width: 80%;
    text-align: center;
    margin: 0px auto;

}

.bottom span{
    display: block;
    padding-top: 50px;
}


h1{
    text-align: center;
    font-family: "MontserratAlternates-bold";
    font-size: 50px;
    padding-bottom: 20px;
    padding: 0px;

}

p{
    font-size: 24px;
    font-family: "MontserratAlternates-light";
}

.course h1{
    font-size: 32px;
}



.text-block h1{
    padding-bottom: 50px;
}


h2{
    font-family: "MontserratAlternates-bold";
}
h3{
    font-family: "MontserratAlternates-regular";
}
span{
    font-family: "MontserratAlternates-regular";
}


.left{
    float: left;
;
}

.courses-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 0px auto;
    padding-top: 50px;
    flex-wrap: wrap;

}


.icon{
    max-width: 120px;
    min-width: 100px;
    padding-right: 25px;
}

.icon-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.goals{
    min-width: 100vh;
    
}


.faq{
    width: 80%;
    margin-top: 100px;
    padding-bottom: 15px;
}

.menu-list{
    
}


.answer{

}

.hide{
    display: none;
    visibility: hidden;

}


.question{
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    padding-bottom: 10px;
}


.faq-item{
    border: 1px solid rgb(113, 167, 93);
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 20px;
}

.faq-item:last-child{
    border-bottom: 1px solid rgb(113, 167, 93); 
}

footer{
    background-color: rgb(113, 167, 93);
    
    width: 100%;

    margin-top: 100px;
}

.footer-items{
    width: 100%;
}

.social{
    display: flex;
}
.social-image{
    margin: 50px 50px 10px 50px;
}

.gmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.gmail a{
    margin: 10px;
}




.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
    display: block;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 400px;
      margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "MontserratAlternates-Bold";
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    padding-bottom: 50px;
    overflow: auto;
}

#form::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.466) url('/Loading_icon.gif') center / 75px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

#form._sending::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.466) url('/Loading_icon.gif') center / 75px no-repeat;
    opacity: 1;
    visibility: visible;
}

#form._sent::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.466) url('/Loading_icon.gif') center / 75px no-repeat;
    opacity: 1;
    visibility: hidden;
    display: none;
}




form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
    align-items: center;
}
.form-item{
    margin-top: 30px;
    width: 325px;
    display: flex;
    flex-direction: column;
    
}

.form-input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    margin-top: 10px;
    padding-left: 10px;
}

.form-item label{
    font-family: "MontserratAlternates-Bold";
}

input:focus { 
    outline: none !important;
    border-color: rgb(113, 167, 93);
    box-shadow: 0 0 10px rgb(113, 167, 93);
}
textarea:focus { 
    outline: none !important;
    border-color: rgb(113, 167, 93);
    box-shadow: 0 0 10px rgb(113, 167, 93);
}

textarea{
    padding-left: 5px;
}

::placeholder{
    padding-left: 5px;
    color: rgba(113, 167, 93, 0.518);
}

.submit-button{
    color: white;
    text-align: center;
    background-color: rgb(95, 164, 69);
    border: 2px solid rgb(95, 164, 69);
    border-radius: 24px;
    transition: 500ms;
    padding: 12px;
    cursor: pointer;
}

.submit-button:hover{
    background-color:rgb(252, 249, 244) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
    
}

.submit-button:active{
    background-color:rgb(235, 249, 227) ;
    color:rgb(95, 164, 69);
    transition: 200ms;
}

